@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap');

html{
    color: white;

    --color-white: white;
    --color-orange:#FFB742;
    --dark-grey: #212529;
    --footer-background: #1C1C1C;
}

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0px;
}

#header {
    background-color: var(--dark-grey);

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
}

#header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 0.8rem;
}

#header-links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#header-links > a:hover {
    color: var(--color-orange);
}

#content {
    background-color: var(--dark-grey);

    font-family: 'Poppins', sans-serif;
}

#content > div {
    padding-bottom: 6rem;
}

.global-side-margin {
    width: 90%;
    margin: 0 auto;
}

#main-div {
    background-color: #212529;
}

.button { 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7.5rem;
    height: 2.33rem;

    border-radius: 30px;
    border: 2px;

    background-color: var(--color-orange);
    color: var(--dark-grey);
    
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.maintext {
    text-align: center;
    text-transform: capitalize;

    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.maintext > p {
    font-weight: 700;
}

.maintext span {
    color: var(--color-orange);
    text-decoration: underline;
}

.maintext > p:nth-of-type(1) {
    margin: 0;
    padding-top: 50px;
    font-size: 2rem;
}

#vectorcenter {
    display:flex;
    justify-content: center;
    padding-top: 40px;
}

.cards {
    display:flex;
    justify-content: space-between;
    margin: 80px auto;

    font-family: 'Inter', sans-serif;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    width: 30%;
    padding: 1.5rem 0;
    border-radius: 18px;
    
    background-color: #292B2E;
    color: var(--color-white);

    font: weight 700px;
    
    cursor: pointer;
    transition: all 1500ms;
}

.card:hover {  
    background: linear-gradient(94.3deg, var(--color-orange) 0%, rgba(255, 123, 66, 0.76) 99.33%);;   
}

.card:hover .card-title, .card:hover .card-subtitle {
    color: #212529;
}

.card-title {
    font-size: 2rem;
    color: var(--color-orange);
}

.card-subtitle {
    color: var(--color-white);
}

#aboutme{
    display: flex;
}

#aboutme > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

#aboutme > div:nth-of-type(1)>img{
    width: 100%;
}

#aboutme > div:nth-of-type(2) {
    padding-left: 5rem;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;

    border: 2px;
    border-radius: 50px;

    color: var(--color-orange);
    background-color : rgba(255, 255, 255, 0.08);

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.section > div {
    padding: 0.3rem 1.5rem;
}

#aboutme > div > *:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.bigtext{
    font-size: 3rem;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#my-skills {
    display: flex;
    justify-content: space-between;
}

#my-skills > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

#icons {
    width: 45%;
}

#icons > div {
    display: flex;
}

#icons > div:nth-of-type(2) {
    padding-top: 1rem;
}

.tech-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #383E45;
    border-radius: 10px;

    margin: 0 0.5rem;
}

.tech-button > img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.tech-button:hover {
    background-color: rgba(255, 183, 66, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#featured-works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured-menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 3px;
}

.tab > div {
    padding: 0.4rem 1rem;
}

.tab:hover {
    background-color: var(--color-orange);
    color: var(--dark-grey);
    cursor: pointer;
}

.picture-block{
    display: flex;
    justify-content: space-evenly;
}

.column {
    width: 30%;
}

.column > img {
    display: block;
    width: 100%;
    padding-top: 2rem;
}

#comments {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
}

#comments-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#name-in-footer {
    color: var(--color-orange);

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

#who-am-i-text {
    margin-top: 1rem;

    font-weight: 500;
    color: #D4D4D4;
}

.white-footer-text{
    font-size: 1.375rem;
    font-weight: 700;
    color: #F5FBF2;
}

#footer {
    background-color: var(--footer-background);

    padding-top: 2rem;

    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #7B7B7B;
}

#footer a {
    display: block;

    margin-top: 0.8rem;

    color: #7B7B7B;
}

#footer > div{
    display: flex;
    justify-content: space-between;

    padding-bottom: 2rem;
}
